{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias beatae dolorum deleniti, corporis nisi fuga labore quasi mollitia sequi quaerat fugiat autem reprehenderit expedita minus molestiae iusto, quas nihil sit optio. Quas, est nemo eos ipsam ducimus velit, laboriosam aperiam odit architecto nobis labore cumque nostrum quaerat. Doloribus iure voluptatem recusandae eos et libero obcaecati excepturi ullam dignissimos officia assumenda similique, sint corrupti ex. Architecto deleniti asperiores accusantium sapiente, labore provident autem, recusandae neque dolorum quasi, debitis at expedita ab eum sunt voluptatum nostrum. Ab sunt reiciendis impedit sint eum voluptatibus ea maxime sit dolor, culpa assumenda eos voluptatem accusamus.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}